<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Confirmación de cuenta activada</title>
    <style>
      body {
        background-color: #0077c2;
        color: #ffffff;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
      }

      .title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
      }

      .content {
        font-size: 18px;
        margin-bottom: 20px;
        color: #000;
      }

      .activation-link {
        display: block;
        background-color: #ffffff;
        color: #0077c2;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
      }

      .activation-link:hover {
        background-color: #0077c2;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="title">¡Tu cuenta ha sido activada!</div>
      <div class="content">
        <p>Estimado(a) {{name}},</p>
        <p>Te informamos que tu cuenta en nuestra aplicación ha sido activada satisfactoriamente.</p>
        <p>A partir de ahora, podrás acceder a todas las funcionalidades de nuestra plataforma.</p>
        <p>Gracias por registrarte en nuestra aplicación y esperamos que disfrutes de nuestra experiencia.</p>
        <p>¡Bienvenido(a)!</p>
      </div>
    </div>
     <script nonce="RANDOM_VALUE_HERE">
      /* Tu script aquí */
    </script>
  </body>
</html>
