<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Activar cuenta</title>
  </head>
  <body>
    <p>Hola <%= name %>,</p>
    <p>Bienvenido a nuestra aplicación. Para activar tu cuenta, haz click en el siguiente enlace:</p>
    <a href="<%= activationLink %>"><%= activationLink %></a>
    <p>Gracias,</p>
    <p>El equipo de nuestra aplicación</p>
  </body>
</html>