<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Restablecer contraseña</title>
    <style>
      body {
        background-color: #0077c2;
        color: #ffffff;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
      }

      .title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
      }

      .content {
        font-size: 18px;
        margin-bottom: 20px;
        color: #000;
      }

      .reset-link {
        display: block;
        background-color: #ffffff;
        color: #0077c2;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
      }

      .reset-link:hover {
        background-color: #0077c2;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="title">Restablecer contraseña</div>
      <div class="content">
        <p>Estimado(a) {{name}},</p>
        <p>Recibimos una solicitud para restablecer tu contraseña en nuestra aplicación.</p>
        <p>Para continuar con el proceso, haz clic en el siguiente enlace:</p>
        <a class="reset-link" href="{{resetUrl}}">Restablecer contraseña</a>
        <p>Si no solicitaste restablecer tu contraseña, simplemente ignora este correo y tu contraseña seguirá siendo la misma.</p>
        <p>Gracias por utilizar nuestra aplicación.</p>
      </div>
    </div>
    <script nonce="RANDOM_VALUE_HERE">
      /* Tu script aquí */
    </script>
  </body>
</html>
