<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Restablecer contraseña</title>
  </head>
  <body>
    <p>Hola <%= name %>,</p>
    <p>Recientemente has solicitado restablecer tu contraseña. Haz click en el siguiente enlace para continuar:</p>
    <a href="<%= resetUrl %>"><%= resetUrl %></a>
    <p>Si no has solicitado esto, simplemente ignora este mensaje.</p>
    <p>Gracias,</p>
    <p>El equipo de nuestra aplicación</p>
  </body>
</html>